.ad {
    width: 400px;
    margin: 10px;
    background-color: rgb(65,105,225);
    border: 2px solid blue;
    padding: 20px;
    border-radius: 50px 20px;
}

.line_adress {
    color: white;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}