#wiki, #address {
    width: 400px;
    padding: 20px;
    margin: 10px;
    line-height: 1;
    background-color: rgb(65,105,225);
    text-align: left;
    display: inline-block;
    border-radius: 20px 10px 50px 0;
}

address {
    color: white;
}

p.wik {
    color: white;
}